<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<%= render :partial => 'js_head' %>

<% content_for :page_title do %>
  <%= t(:taxonomy_edit) %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to t(:back_to_taxonomies_list), spree.admin_taxonomies_path, :icon => 'icon-arrow-left', :class => 'btn' %>
<% end %>

<div id="ajax_error" class="errorExplanation alert alert-danger" style="display:none;"></div>

<%= form_for [:admin, @taxonomy] do |f| %>
  <fieldset class="no-border-top">
    <%= render :partial => 'form', :locals => { :f => f } %>

    <%= label_tag nil, t(:tree) %>
    <div id="taxonomy_tree" class="well tree" data-url="<%= admin_taxonomy_taxons_path @taxonomy %>"></div>

    <div id="progress" style="display:none;">
      <%= image_tag 'spinner.gif', :title => 'Spinner', :style => "vertical-align:bottom;" %> <%= t(:updating) %>..
    </div>

    <div class="alert">
      <%= t(:taxonomy_tree_instruction) %>
    </div>

    <div class="form-actions actions">
      <%= button t(:update), 'btn btn-large btn-primary'  %>
      <span class="or"><%= t(:or) %></span>
      <%= button_link_to t(:cancel), admin_taxonomies_path, :icon => 'icon-remove', :class => 'btn' %>
    </div>
  </fieldset>
<% end %>

<% content_for :head do %>
  <%= javascript_tag do -%>
    var initial = [
      { "attr" :
      { "id" : "<%= @taxonomy.root.id %>", "rel" : "root" },
      "data" : "<%= escape_javascript(raw(@taxonomy.root.name)) %>",
      "state" : "open",
      "children" : [
        <% @taxonomy.root.children.each_with_index do |taxon,i| %>
          {
            "attr" :
            { "id" : "<%= taxon.id %>"},
            "data" : "<%= escape_javascript(raw(taxon.name)) %>"
            <% unless taxon.children.empty? %>
              ,"state" : "closed"
            <% end %>
          }<%= ',' if i < (@taxonomy.root.children.size - 1) %>
        <% end %>
      ]
        }
    ];
  <% end -%>
<% end %>
