<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="en"><!--<![endif]-->
  <head data-hook="admin_inside_head">
    <%= render :partial => 'spree/admin/shared/head' %>
  </head>

  <body class="admin" data-ajax-root-path="<%= spree.root_path %>" data-css-hook="<%= css_hook %>">
    <div id='wrapper' data-hook>

      <header id="header" data-hook>

        <div class="navbar navbar-static-top navbar-inverse">
          <div class="navbar-inner">
            <a class="brand" href="#"><%= Spree::Config[:site_name] %></a>
            <ul data-hook="admin_tabs" class="nav">
              <%= render :partial => 'spree/admin/shared/tabs' %>
            </ul>
            <ul class="nav pull-right" data-hook="admin_login_navigation_bar">

            </ul>
          </div>
        </div>

        <% if content_for?(:sub_menu) %>
          <nav id="sub-menu" data-hook class="navbar navbar-static-top navbar-submenu">
            <div class="navbar-inner">
              <%= yield :sub_menu %>
            </div>
          </nav>
        <% end %>

      </header>

      <div class="container-fluid">

        <div class="alerts">
          <% if flash[:error] %>
            <div class="error alert alert-danger"><%= flash[:error] %></div>
          <% end %>
          <% if notice %>
            <div class="notice alert"><%= notice %></div>
          <% end %>
          <% if flash[:success] %>
            <div class="alert alert-success"><%= flash[:success] %></div>
          <% end %>

          <div id="progress">
            <div class="wrapper">
              <div class="progress-message alert alert-info"><%= t(:loading) %>...</div>
            </div>
          </div>

          <%= render :partial => 'spree/admin/shared/alert', :collection => session[:alerts] %>
        </div>

        <% if content_for?(:page_title) || content_for?(:page_actions) %>
          <div id="content-header" data-hook>
            <div class="page-header">
              <% if content_for?(:page_actions) %>
                <div class="page-actions pull-right" data-hook="toolbar">
                  <%= yield :page_actions %>
                </div>
              <% end %>
              <% if content_for?(:page_title) %>
                <h1 class="<%= yield :page_title_classes %>"><%= yield :page_title %></h1>
              <% end %>
              <div class="clearfix"></div>
            </div>
          </div>
        <% end %>

        <% if content_for?(:full_content) %>
          <%= yield :full_content %>
        <% end %>

        <div class="<%= 'row-fluid' if content_for?(:sidebar) or content_for?(:table_filter) %>" id="content" data-hook>

          <% if content_for?(:sidebar) %>
            <aside id="sidebar" data-hook class="span3">
              <%= yield :sidebar %>
            </aside>
          <% end %>

          <div class="<%= 'span9' if content_for?(:sidebar) or content_for?(:table_filter) %>">
            <%= yield %>
          </div>

          <% if content_for?(:table_filter) %>
            <div id="table-filter" data-hook class="sidebar <%= if content_for?(:sidebar) then 'span3' else 'span3' end %>">
              <div class="well">
                <fieldset>
                  <legend><%= yield :table_filter_title %></legend>
                  <%= yield :table_filter %>
                </fieldset>
              </div>
            </div>
          <% end %>

        </div>

      </div>
    </div>

    <div data-hook="admin_footer_scripts"></div>


  </body>
</html>
