<% content_for :page_title do %>
  <%= t(:user_account) %>
<% end %>

<table class="index">
  <tr data-hook="email">
    <td width="200"><strong><%= t(:email) %></strong></td>
    <td>
      <%= @user.email %> <%= link_to_edit @user, :class => 'edit_user' %>
    </td>
  </tr>
  <tr data-hook="roles">
    <td><strong><%= t(:roles) %></strong></td>
    <td>
      <%= @user.spree_roles.pluck(:name).join(', ') %> <%= link_to_edit @user, :class => 'edit_user' %>
    </td>
  </tr>
  <tr>
    <td><strong>sign_in_count</strong></td>
    <td><%= @user.sign_in_count %></td>
  </tr>
  <tr>
    <td><strong>failed_attempts</strong></td>
    <td><%= @user.failed_attempts %></td>
  </tr>
  <tr>
    <td><strong>current_sign_in_at</strong></td>
    <td><%= @user.current_sign_in_at %></td>
  </tr>
  <tr>
    <td><strong>last_sign_in_at</strong></td>
    <td><%= @user.last_sign_in_at %></td>
  </tr>
  <tr>
    <td><strong>created_at</strong></td>
    <td><%= @user.created_at %></td>
  </tr>
  <tr>
    <td><strong>updated_at</strong></td>
    <td><%= @user.updated_at %></td>
  </tr>
  <% if @user.reset_password_sent_at %>
    <tr>
      <td><strong>reset_password_sent_at</strong></td>
      <td><%= @user.reset_password_sent_at %></td>
    </tr>
  <% end %>
</table>

<% @last_paid_orders =  @user.orders.where("state = 'complete'").last %>
<% unless @last_paid_orders.blank? %>
    <% unless @last_paid_orders.bill_address.blank? or @last_paid_orders.ship_address.blank? %>
      <div class="alpha eight columns">
        <% unless @last_paid_orders.bill_address.blank? %>
          <h2><%= t(:last_used_billing_address) %></h2>
          <table class="index">
            <tr>
              <td width="200"><strong><%= t(:firstname) %></strong></td>
              <td><%= @last_paid_orders.bill_address.firstname %></td>
            </tr>
            <tr>
              <td><strong><%= t(:lastname) %></strong></td>
              <td><%= @last_paid_orders.bill_address.lastname %></td>
            </tr>
            <tr>
              <td><strong><%= t(:address1) %></strong></td>
              <td><%= @last_paid_orders.bill_address.address1 %></td>
            </tr>
            <tr>
              <td><strong><%= t(:address2) %></strong></td>
              <td><%= @last_paid_orders.bill_address.address2 %></td>
            </tr>
            <tr>
              <td><strong><%= t(:city) %></strong></td>
              <td><%= @last_paid_orders.bill_address.city %></td>
            </tr>
            <tr>
              <td><strong><%= t(:country) %></strong></td>
              <td><%= @last_paid_orders.bill_address.country %></td>
            </tr>
            <tr>
              <td><strong><%= t(:zipcode) %></strong></td>
              <td><%= @last_paid_orders.bill_address.zipcode %></td>
            </tr>
            <tr>
              <td><strong><%= t(:city) %></strong></td>
              <td><%= @last_paid_orders.bill_address.city %></td>
            </tr>
            <tr>
              <td><strong><%= t(:phone) %></strong></td>
              <td><%= @last_paid_orders.bill_address.phone %></td>
            </tr>
            <tr>
              <td><strong><%= t(:created_at) %></strong></td>
              <td><%= @last_paid_orders.bill_address.created_at %></td>
            </tr>
            <tr>
              <td><strong><%= t(:updated_at) %></strong></td>
              <td><%= @last_paid_orders.bill_address.updated_at %></td>
            </tr>
          </table>
        <% end %>
      </div>
      <div class="omega eight columns">
        <% unless @last_paid_orders.ship_address.blank? %>
          <h2><%= t(:last_used_shipping_address) %></h2>
          <table class="index">
            <tr>
              <td width="200"><strong><%= t(:firstname) %></strong></td>
              <td><%= @last_paid_orders.ship_address.firstname %></td>
            </tr>
            <tr>
              <td><strong><%= t(:lastname) %></strong></td>
              <td><%= @last_paid_orders.ship_address.lastname %></td>
            </tr>
            <tr>
              <td><strong><%= t(:address1) %></strong></td>
              <td><%= @last_paid_orders.ship_address.address1 %></td>
            </tr>
            <tr>
              <td><strong><%= t(:address2) %></strong></td>
              <td><%= @last_paid_orders.ship_address.address2 %></td>
            </tr>
            <tr>
              <td><strong><%= t(:city) %></strong></td>
              <td><%= @last_paid_orders.ship_address.city %></td>
            </tr>
            <tr>
              <td><strong><%= t(:zipcode) %></strong></td>
              <td><%= @last_paid_orders.ship_address.zipcode %></td>
            </tr>
            <tr>
              <td><strong><%= t(:city) %></strong></td>
              <td><%= @last_paid_orders.ship_address.city %></td>
            </tr>
            <tr>
              <td><strong><%= t(:country) %></strong></td>
              <td><%= @last_paid_orders.ship_address.country %></td>
            </tr>
            <tr>
              <td><strong><%= t(:phone) %></strong></td>
              <td><%= @last_paid_orders.ship_address.phone %></td>
            </tr>
            <tr>
              <td><strong><%= t(:created_at) %></strong></td>
              <td><%= @last_paid_orders.ship_address.created_at %></td>
            </tr>
            <tr>
              <td><strong><%= t(:updated_at) %></strong></td>
              <td><%= @last_paid_orders.ship_address.updated_at %></td>
            </tr>
          </table>
        <% end %>
      </div>
    <% end %>
<% end %>

<% unless @user.orders.blank? %>
  <h2><%= t(:user_orders) %></h2>
  <table class="index" id="listing_orders" data-hook>
    <thead>
    <tr>
      <th><%= t(:order_id) %></th>
      <th><%= t(:order_date) %></th>
      <th><%= t(:order_number) %></th>
      <th><%= t(:state) %></th>
      <th><%= t(:payment_state) %></th>
      <th><%= t(:shipment_state) %></th>
      <th><%= t(:email) %></th>
      <th><%= t(:total) %></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @user.orders.each do |order| %>
      <tr data-hook="admin_orders_index_rows">
        <td><%= order.id %></td>
        <td><%= l (@show_only_completed ? order.completed_at : order.created_at).to_date %></td>
        <td><%= link_to order.number, admin_order_path(order) %></td>
        <td><%= t("order_state.#{order.state.downcase}") %></td>
        <td><%= link_to t("payment_states.#{order.payment_state}"), admin_order_payments_path(order) if order.payment_state %></td>
        <td><%= link_to t("shipment_states.#{order.shipment_state}"), admin_order_shipments_path(order) if order.shipment_state %></td>
        <td><%= order.email %></td>
        <td><%= order.display_total %></td>
        <td class='actions' data-hook="admin_orders_index_row_actions">
          <%= link_to_edit_url edit_admin_order_path(order), :title => "admin_edit_#{dom_id(order)}" %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>