<%= render :partial => 'spree/admin/shared/product_sub_menu' %>

<%= render :partial => 'spree/admin/shared/product_tabs', :locals => { :current => 'Images' } %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @image } %>

<% content_for :page_actions do %>
  <%= link_to t(:back_to_images_list), admin_product_images_url(@product), :class => 'btn' %>
<% end %>

<%= form_for [:admin, @product, @image], :html => { :multipart => true } do |f| %>
  <fieldset data-hook="edit_image">
    <h2>
      <%= @image.attachment_file_name%>
    </h2>
    <div class="row-fluid">
      <div class="span6">
        <%= render :partial => 'form', :locals => { :f => f } %>
      </div>
      <div class="span6">
        <div class="well" data-hook="thumbnail">
          <%= f.label t(:thumbnail) %>
          <%= link_to image_tag(@image.attachment.url(:small)), @image.attachment.url(:product) %>
        </div>
      </div>
    </div>
    <div class="form-buttons form-actions actions" data-hook="buttons">
      <%= button t(:update), 'btn btn-large btn-primary' %>
      <span class="or"><%= t(:or) %></span>
      <%= link_to_with_icon 'icon-arrow-left', t(:back), admin_product_images_url(@product), :id => 'cancel_link', :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
