<%= form_for [:admin, @product, @image], :html => { :multipart => true } do |f| %>
  <fieldset data-hook="new_image">
    <h2><%= t(:new_image) %></h2>
    <%= render :partial => 'form', :locals => { :f => f } %>

    <div class="form-buttons form-actions actions" data-hook="buttons">
      <%= button t(:update), 'btn btn-large btn-primary' %>
      <span class="or"><%= t(:or) %></span>
      <%= link_to_with_icon 'icon-remove', t(:cancel), admin_product_images_url(@product), :id => 'cancel_link', :class => 'btn' %>
    </div>
  </fieldset>
<% end %>

<%= javascript_include_tag 'admin/images/new.js' %>