<% content_for :page_title do %>
  <%= t(:listing_products) %>
<% end %>

<% content_for :page_actions do %>
    <%= link_to t(:new_product), new_object_url, :class => 'btn btn-success' %>
<% end %>

<%= render :partial => 'spree/admin/shared/product_sub_menu' %>

<% content_for :table_filter_title do %>
  <%= t(:search) %>
<% end %>

<% content_for :table_filter do %>
  <div data-hook="admin_products_sidebar">
    <%= search_form_for [:admin, @search] do |f| %>

        <%- locals = {:f => f} %>

        <div data-hook="admin_products_index_search">
          <%= f.label :name_cont, t(:name) %>
          <%= f.text_field :name_cont, :size => 15 %>

          <%= f.label :variants_including_master_sku_cont, t(:sku) %>
          <%= f.text_field :variants_including_master_sku_cont, :size => 15 %>

          <label class="checkbox">
            <%= f.check_box :deleted_at_null, {:checked => params[:q][:deleted_at_null].blank?}, '', '1' %>
            <%= t(:show_deleted) %>
          </label>
        </div>

        <div class="form-buttons form-actions filter-actions" data-hook="admin_products_index_search_buttons">
          <%= button t(:search), 'btn btn-primary' %>
        </div>
    <% end %>
  </div>
<% end %>

<div id="new_product" data-hook></div>

<% if @collection.any? %>
  <table class="table table-striped table-condensed table-hover" id="listing_products">
    <thead>
      <tr data-hook="admin_products_index_headers">
        <th><%= t(:id) %></th>
        <th><%= t(:sku) %></th>
        <th><%= sort_link @search,:name, t(:name), { :default_order => "desc" }, {:title => 'admin_products_listing_name_title'} %></th>
        <th><%= sort_link @search,:master_default_price_amount, t(:master_price), {}, {:title => 'admin_products_listing_price_title'} %></th>
        <th data-hook="admin_products_index_header_actions" class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @collection.each do |product| %>
          <tr <%= "style='color: red;'" if product.deleted? %> id="<%= spree_dom_id product %>" data-hook="admin_products_index_rows" class="<%= cycle('odd', 'even') %>">
            <td class="align-center"><%= product.id %></td>
            <td class="align-center"><%= product.sku rescue '' %></td>
            <td><%= link_to product.try(:name), edit_admin_product_path(product) %></td>
            <td class="align-center"><%= product.display_price rescue '' %></td>
            <td class="actions" data-hook="admin_products_index_row_actions">
              <%= link_to_edit product, :no_text => true, :class => 'edit' unless product.deleted? %>
              <%= link_to_clone product, :no_text => true, :class => 'clone' %>
              <%= link_to_delete product, :no_text => true unless product.deleted? %>
              <a href="<%= url_for(product) %>" target="_blank" class="icon-eye-open"></a>
            </td>
          </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="no-objects-found">
    <%= t(:no_results) %>
  </div>
<% end %>

<%= paginate @collection %>

