<% content_for :page_title do %>
  <%= t(:editing_product) %> &ldquo;<%= @product.name %>&rdquo;
<% end %>

<% content_for :sidebar do %>

  <nav>
    <ul class="nav nav-list sidebar-nav" data-hook="admin_product_tabs">
      <li<%== ' class="active"' if current == 'Product Details' %>>
        <i class="icon-chevron-right"></i>
        <%= link_to t(:product_details), edit_admin_product_url(@product) %>
      </li>
      <li<%== ' class="active"' if current == 'Images' %>>
        <i class="icon-chevron-right"></i>
        <%= link_to t(:images), admin_product_images_url(@product) %>
      </li>
      <li<%== ' class="active"' if current == 'Variants' %>>
        <i class="icon-chevron-right"></i>
        <%= link_to t(:variants),  admin_product_variants_url(@product) %>
      </li>
      <li<%== ' class="active"' if current == 'Product Properties' %>>
        <i class="icon-chevron-right"></i>
        <%= link_to t(:product_properties), admin_product_product_properties_url(@product) %>
      </li>
    </ul>
  </nav>

  <div class="well">
    <table class="table table-condensed">
      <tr>
        <th>
          <%= t(:id) %>
        </th>
        <td class="sku">
          <%= @product.id %>
        </td>
      </tr>
      <tr>
        <th>
          <%= t(:sku) %>
        </th>
        <td class="sku">
          <%= @product.sku %>
        </td>
      </tr>
    </table>
    <a href="<%= url_for(@product) %>" target="_blank" class="btn btn-small"><i class="icon-eye-open"></i> <%= t(:view_product_online) %></a>
  </div>

<% end %>
