<%= search_form_for @search, :url => spree.sales_total_admin_reports_path  do |s| %>
    <div class="date-range-filter field align-center">
        <%= label_tag nil, t(:start), :class => 'inline' %>
        <%= s.text_field :created_at_gt, :class => 'datepicker datepicker-from' %>

        <%= label_tag nil, t(:end), :class => 'inline' %>
        <%= s.text_field :created_at_lt, :class => 'datepicker datepicker-to' %>
        
    </div>

    <div class="actions filter-actions">
      <%= button t(:search), 'btn btn-primary'  %>
    </div>
<% end %>
