<div data-hook="admin_payment_form_fields">
  <%= f.label :amount, t(:amount) %>
  <%= f.text_field :amount, :value => @order.outstanding_balance, :class => 'fullwidth' %>
  <label><%= t(:payment_method) %></label>
  <div class="marginb">
    <% @payment_methods.each do |method| %>
      <div class="radio" data-hook="payment_method_field">
        <%= radio_button_tag 'payment[payment_method_id]', method.id, method == @payment_method %>
        <%= t(method.name, :scope => :payment_methods, :default => method.name) %>
      </div>
    <% end %>
  </div>
  <div class="payment-method-settings">
    <% @payment_methods.each do |method| %>
      <%= render :partial => "spree/admin/payments/source_forms/#{method.method_type}", :locals => { :payment_method => method } %>
    <% end %>
  </div>
</div>
