<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= t(:general_settings) %>
<% end %>

<%= form_tag admin_general_settings_path, :method => :put do %>
  <div id="preferences" data-hook>

    <fieldset class="general">
      <div class="row-fluid">
        <div class="span6">
          <legend><%= t(:general_settings)%></legend>
          <% @preferences_general.each do |key|
            type = Spree::Config.preference_type(key) %>
            <%= label_tag(key, t(key) + ': ') if type != :boolean %>
            <%= preference_field_tag(key, Spree::Config[key], :type => type) %>
            <%= label_tag(key, t(key)) if type == :boolean %>
          <% end %>
        </div>
        <div class="span6">
          <fieldset class="security">
            <legend><%= t(:security_settings)%></legend>
            <% @preferences_security.each do |key|
                type = Spree::Config.preference_type(key) %>
                <div class="checkbox">
                  <%= label_tag(key, t(key) + ': ') if type != :boolean %>
                  <%= preference_field_tag(key, Spree::Config[key], :type => type) %>
                  <%= label_tag(key, t(key)) if type == :boolean %>
                </div>
            <% end %>
          </fieldset>

          <fieldset class="currency">
            <legend><%= t(:currency_settings)%></legend>
            <% @preferences_currency.each do |key|
                type = Spree::Config.preference_type(key) %>
                <div class="checkbox">
                  <%= label_tag(key, t(key) + ': ') if type != :boolean %>
                  <%= preference_field_tag(key, Spree::Config[key], :type => type) %>
                  <%= label_tag(key, t(key)) if type == :boolean %>
                </div>
            <% end %>

            <%= label_tag :currency, t(:choose_currency) %>
            <%= select_tag :currency, currency_options, :class => 'fullwidth' %>

            <%= label_tag t(:currency_symbol_position) %>

            <label class="radio">
              <%= radio_button_tag :currency_symbol_position, "before" %>
              <%= label_tag :currency_symbol_position_before, Spree::Money.new(10, :symbol_position => "before") %>
            </label>

            <label class="radio">
              <%= radio_button_tag :currency_symbol_position, "after" %>
              <%= label_tag :currency_symbol_position_after, Spree::Money.new(10, :symbol_position => "after") %>
            </label>
          </fieldset>
        </div>
      </div>

      <div class="form-actions" data-hook="buttons">
        <%= button t(:update), 'btn btn-large btn-primary' %>
        <span class="or"><%= t(:or) %></span>
        <%= link_to_with_icon 'icon-remove', t(:cancel), edit_admin_general_settings_url, :class => 'btn' %>
      </div>

    </fieldset>
  </div>
<% end %>

<script>
  $('#currency').select2();
</script>
